.container {
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.title {
  text-align: center;
  font-size: 18px;
  line-height: 55px;
}

.block {
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
  padding: 5px;
}

.formItem {
  margin-bottom: 10px;
}
