<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <title>数据视觉-DataV</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script> -->
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
<script src="/ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
<script src="/ueditor/ueditor.all.min.js" type="text/javascript" charset="utf-8"> </script>
<script src="/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript" charset="utf-8"></script> 
<script src="http://api.map.baidu.com/api?v=2.0&ak=bZepeajIq7n31uEz3NTPDxPDjXO8gjAT" type="text/javascript"></script>
<script>
  window.BMap = BMap
</script>
<!-- <script>
  function loadScript() {  
    var script = document.createElement("script");  
    script.src = "http://api.map.baidu.com/api?v=2.0&ak=bZepeajIq7n31uEz3NTPDxPDjXO8gjAT";
    document.body.appendChild(script);  
  }  
   
  window.onload = loadScript;
</script> -->
</html>
